/* ------------------------ GENERAL SETTINGS (FONT, BODY,VARIABLES ...) ------------------------------- */
:root {
    --primary-color: #003366;
    --secondary-color: #CFB53B;
    --tertiary-color: #5A6973;
    --white-color: #F5F5F5;
    --default-padding: 1rem;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}	

body {
    background-color: var(--white-color);
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

h1 {
    font-weight: bold;
}

button {
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 5px;
    width: 200px;
    background-color: var(--primary-color);
    color: var(--white-color);
    transition: 500ms ease;
}

button:hover {
    background-color: transparent;
    color: var(--primary-color);
    border-color: var(--primary-color);
}

/* ------------------------ HEADER ------------------------------- */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--tertiary-color);
    padding: var(--default-padding);
}

.header__title {
    color: var(--white-color);
}

.header__nav {
    display: flex;
    gap: var(--default-padding);
    padding-right: 8rem;
}

.header__nav a {
    text-decoration: none;
    color: white;
    transition: 500ms ease;
}

.header__nav a:hover {
    color: var(--secondary-color);
}

.header__logo {
    width: 200px;
}

/*  ------------------------ BEST MOVIE -------------------------------  */
.best__movie {
    display: flex;
    align-items: end;
    width: 100%;
    gap: 2rem;
}

.img__container {  
    border: 1px solid transparent;
}

.img__container img {
    border-radius: 5px;
    transition: 500ms ease;
}

.img__container img:hover {
    transform: scale(1.2);
}

.best__movie-informations {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.best__movie-informations-content {
    display: flex;
    flex-direction: column;
}

#best__movie-description {
    margin-bottom: 1rem;
}


/*  ------------------------ BEST MOVIE CATEGORY -------------------------------  */

.second__movie-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 4rem;
}

.second__movie-title {
    text-align: center;
}

.movie__cards {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

/**/
.container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.movie__container {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.movie__category-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.movie__category-title {
    text-align: center;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    33% {
        transform: translateX(100px);
    }

    66% {
        transform: translateX(300px);
    }

    100% {
        transform: translateX(0);
    }
}


.modal {
    background-color: rgba(90, 105, 115, 0.9);
    color: white;
    width: 80vw;
    height: 80 vh;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 80%;
    height: 80%;
    border-radius: 5px;
    transition: 500ms ease;
}
.--inactive {
    opacity: 0;
    pointer-events: none;
}

.--active {
    opacity: 1;
}
